<h1>Edit Your Question Here!</h1>
  <%= flash[:error] if flash[:error] %>
  <%= form_for @question do |f| %>
    
  <%= f.label :title %>
  <%= f.text_field :title %>
 
  <%= f.label :content %>
  <%= f.text_area :content %>
 
  <%= f.submit %>
<% end %>
