<div id='question_display'>
  <h1><%= @question.title %></h1>
  <h3><%= @question.content %></h3>
  <p>Comments:</p>
  <ul>
    <% @question.comments.all.each do |comment| %>
    <li><%= comment.content%></li>
    <% end %>
  </ul>
  <br />
  <%= render partial: '/comments/new', locals: {commentable: @question, comment: Comment.new} %>
</div>
<br />
<div id='create_answer'>
  <%= render partial: 'answers/form', locals: {question: @question} %>
</div>
  <% if @question.answers.any? %>
  <h4><%= @question.answers.count %> answers below:</h4>
      <div class="answers">
      <% @question.answers.all.each do |answer| %>
        <%= render partial: 'answers/answer', locals: {answer: answer} %>
      <% end %>
      </div>
    <% end %>
  <br />
    <%# if current_user %>
  <%#= link_to "Write an answer!", new_question_answer_path(@question) %>
  <%# end %>