<div id='question_display'>
  <h1><%= @question.title %></h1>
  <h3><%= @question.content %></h3>
    <%= render partial: '/comments/comments', locals: {commentable: @question } %>
    <br/>
  <%= render partial: '/comments/form', locals: {commentable: @question, comment: @question.comments.build} %>
</div>
<br />
<div id='create_answer'>
  <%= render partial: 'answers/form', locals: {answer: @question.answers.build, question: @question} %>
</div>
  <% if @question.answers.any? %>
  <h4><%= @question.answers.count %> answers below:</h4>
      <div class="answers">
      <% @question.answers.all.each do |answer| %>
        <%= render partial: 'answers/answer', locals: {answer: answer} %>
      <% end %>
      </div>
    <% end %>
  <br/>
    
  <%#= link_to "Write an answer!", new_question_answer_path(@question) %>
  <%# end %>
