<div id='question_display'>
  <h1><%= @question.title %></h1>
  <h3><%= @question.content %></h3>
  <p>Comments:</p>
  <ul>
    <% @question.comments.all.each do |comment| %>
    <li><%= comment.content%></li>
    <% end %>
  </ul>
  <br />
  <%= render partial: '/comments/new', locals: {commentable: @question, comment: Comment.new} %>
</div>
<br />
<div id='create_answer'>
  <%= render partial: 'answers/form', locals: {question: @question} %>
</div>
  <% if @question.answers.any? %>
  <h4><%= @question.answers.count %> answers below:</h4>
      <% @question.answers.all.each do |answer| %>
        <div id='answer_display'>
          <li><h5><%= answer.content %></h5></li>
          <br/>
          <p>Comments:</p>
          <hr />
          <% answer.comments.all.each do |comment| %>
            <p><%= comment.content %></p>
            <hr />
          <% end %>
          <%= link_to "Make a comment!", new_answer_comment_path(answer) %>
        </div>
      <% end %>
  <% end %>
  <br />
  
  <%# if current_user %>
  <%#= link_to "Write an answer!", new_question_answer_path(@question) %>
  <%# end %>