<div class='answer_display'>
  <li id='<%=dom_id(answer)%>'><h5><%= answer.content %></h5></li>
  <%= render partial: '/comments/comments', locals: {commentable: answer } %>
  <br />
  <div class='create_comment'>
    <span class='click_new_comment'><%= link_to 'create comment', new_answer_comment_path(answer), remote: true %></span> 
  </div> 
   <div class='votes'>
     <%= link_to "Upvote", answer_votes_path(answer, up_voted: true), method: :post, remote:true, class: 'up_vote' %>
      <%= link_to "Downvote", answer_votes_path(answer), method: :post, remote:true, class: 'up_vote' %>
   </div>
  <br />
</div>
