<h1>Post an Answer Here!</h1>

<%= form_for [question, answer],remote: true do |f| %>
  <%= f.label :content %>
  <%= f.text_field :content, placeholder: "answer content" %>
  <%= f.submit %>
  <% if answer.errors[:content] %><span class="errors"><%= answer.errors[:content].join(',') %></span><% end %>
<% end %>